* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #19191a;
}
body{
  width:100%;
  height:100%;
  box-sizing: border-box;
}

li {
 list-style-type: none;
 text-decoration: none;
}

li a{
  text-decoration: none;
  color: inherit;
}

ul{
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}

.article_image{
  width:100%;
  max-width: 300px;
  border-radius: 20px;
  padding:10px;
  object-fit:cover;
  align-self: center;

}

.articleCard{
  border: solid green 10px;
  border-radius: 25px;
  background-color: rgb(199, 231, 220);
  color: #1a1a1a;
box-sizing: border-box;
 margin: 20px; 
 padding:20px;
 display: flex;
 flex-direction:column;
 text-align: center;
 justify-content: space-between;
 flex:1 1 auto;
 max-width: 350px;
}

.card_main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.text, .votes, .readButton{

  display: flex;
  align-items: center;
  margin: 10px;
}

.text{
  flex-direction: column;
}

.text p{
 margin: 0px;
 align-self: flex-start;
}

.readButton{
  color: pink;
  display: flex;
  justify-content: center;
}

#articlesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin:0;
}

#articlesListBox{
  margin: 0 75px;
}

h3{
  padding: 10px;
  margin: 0 0 10px 0;
  word-wrap: break-word;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
 
}

header p{
  align-self:flex-end;
  margin-right: 50px;
}

h1{
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(253, 240, 255);
}

#navigation{
background-color: rgb(167, 29, 114);
color: rgb(253, 240, 255);
padding:10px;
}

button{
  border-radius: 8px;
  border: 5px solid rgb(219, 68, 136);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3c7c7;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(219, 68, 136);
  font-weight: 600;
  margin: 10px;
}


button a{
 color: inherit;
  text-decoration: none;
}

#articlesSearch {
  margin: 20px;
}

#footer{
padding: 40px;
text-align: right;
}

h2{
  text-align: left;
}

#articleDetails {
display: flex;
flex-wrap: wrap;
flex-direction: column;

}

#articleDetails #topDetails{
  margin-bottom: 30px;
}

#articleDetails p{
  text-align: left;
}

#img_text{
  text-align: center; 
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#articleDetails img{

  border-radius: 5px;
  max-width: 100%;
}


#img_text p{
margin-left: 30px;
word-wrap: break-word;
min-width: 400px;
max-width: 700px;
flex-basis: 400px;
}

#loading{
  margin:50px;
}

#img_div{
  flex:1;
  margin-bottom: 30px;
  align-self: flex-start;
  justify-content: center;
  max-width: 300px;
  min-width: 200px;
}


#p_div{
  flex:3;
}

#votes{
  align-self: flex-start;
}

#upvote{
  background-color: rgb(28, 145, 28);
  border: #9adf77 solid;
  color: white;
}

#downvote{
  background-color: rgb(62, 108, 234);
  border: rgb(154, 175, 231)solid;
  color: white;
}

#articleByIdPage{
margin: 5% 10%;
}

#commentcardcontainer{
  display: flex;
  justify-content: space-between;

}

#commentCard{
  margin-bottom: 20px;
  padding:15px;
  display: flex;
  flex-direction: column;
  /* border: dashed #9adf77 10px; */
  background-color: #f3c7c7;
  border-radius: 10px;
  color:#1a1a1a;

}

#comment_body{
  text-align: left;
  margin-bottom: 10px;
  font-weight: 700;
}

#commentsSearchSection{
  margin: 20px;
}

#comment-body{
  height: 100px;
  margin: 20px 20px 0px 20px ;
  border-radius: 5px;
  border: none;
  padding: 10px;

}

#comment_label{
  align-self: flex-start;
  color:#19191a;
  font-weight: 800;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #9adf77;
  border-radius: 15px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
 margin-top:20px;
 margin-bottom:20px;
}

form button {
  align-self: flex-end;
  margin-right: 15px
}

#commentErrorMessage {
  color:#1a1a1a;
  align-self: center;
}

#bottomOfForm{
  display: flex;

}

button:disabled {
  cursor: not-allowed; 
  opacity: 0.5; 
}

.delete_button {
  background-color: rgb(62, 108, 234);
  border: rgb(154, 175, 231)solid;
  color: white;
 align-self: flex-end;
 margin-right:0;
}